# ==========================================
# Production WSGI Server
# ==========================================
gunicorn==21.2.0


# ==========================================
# Django & API Framework
# ==========================================
Django>=5.0
django-cors-headers==4.3.1
djangorestframework

# ==========================================
# Database & Cache
# ==========================================
psycopg[binary]
redis

# ==========================================
# Message Broker
# ==========================================
confluent-kafka==2.3.0

# ==========================================
# API Documentation (Swagger)
# ==========================================
drf-spectacular==0.27.2

# ==========================================
# Utilities & Configuration
# ==========================================
requests
setuptools>=69.0.0